<!DOCTYPE html>
<html>
<head>
  <title>Gumroad Engineering Challenge</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
</head>
<body>
<%= yield %>
</body>
</html>
